<div class="h-screen flex">
  <nav class="bg-white text-black shadow-lg w-24 sm:w-28 md:w-32 flex-none px-2 py-4">
    <!-- Menu items -->
    <ul class="space-y-1">
      @for(item of menuItems; track item.label) { @if(item.roles?.includes(currentRole)){
      <li
        appSidebarItem
        [menuItem]="item"
        class="hover:bg-blue-50 rounded-md transition-colors"
      ></li>
      } }
    </ul>
  </nav>
  <main class="flex-1 overflow-auto">
    <router-outlet></router-outlet>
  </main>
</div>
