<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [class]="config().styleClass"
>
  <div
    class="form-fields flex flex-wrap flex-col gap-y-4"
    [class.responsive]="config().responsive"
  >
    @for(field of config().fields; track trackByCompositeKey($index, field)) {
    <div class="field-container">
      @if(field.type !== 'password') {
      <p-floatlabel variant="on">
        <label [for]="field.name">{{ field.label | titlecase }}</label>

        <!-- Input Text Field -->
        @if(field.type === 'inputText') {
        <input
          pInputText
          [id]="field.name"
          [formControlName]="field.name"
          [class]="field.styleClass || ''"
          [value]="form.get(field.name)?.value"
          class="form-control w-full md:w-1/2 lg:w-1/3"
        />
        }

        <!-- Input Number Field -->
        @if (field.type === 'inputNumber') {
        <p-inputNumber
          [id]="field.name"
          [formControlName]="field.name"
          [class]="field.styleClass || ''"
          class="form-control"
        ></p-inputNumber>
        }

        <!-- Dropdown Field -->
        @if (field.type === 'dropdown') {
        <p-select
          [id]="field.name"
          [formControlName]="field.name"
          [options]="field.options || []"
          [class]="field.styleClass || ''"
          class="form-control"
        ></p-select>
        }

        <!-- Calendar Field -->
        @if (field.type === 'calendar') {
        <p-datepicker
          [id]="field.name"
          [formControlName]="field.name"
          [class]="field.styleClass || ''"
          class="form-control"
          [dateFormat]="field.dateFormat || 'mm/dd/yyyy'"
          [hourFormat]="field.hourFormat || '12'"
        ></p-datepicker>
        }

        <!-- Checkbox Field -->
        @if (field.type === 'checkbox') {
        <p-checkbox
          [id]="field.name"
          [formControlName]="field.name"
          [class]="field.styleClass || ''"
          class="form-control"
        ></p-checkbox>
        }

        <!-- Multi Select Field -->
        @if (field.type === 'multiSelect') {
        <p-multiselect
          [id]="field.name"
          [formControlName]="field.name"
          [options]="field.options || []"
          [class]="field.styleClass || ''"
          class="form-control"
        ></p-multiselect>
        }
      </p-floatlabel>
      }

      <!-- Password Field -->
      @if (field.type === 'password') {
      <p-floatlabel variant="on">
        <p-password
          toggleMask="true"
          feedback="false"
          [id]="field.name"
          [formControlName]="field.name"
          [class]="field.styleClass || ''"
          class="form-control"
          inputId="passwordField"
        ></p-password>
        <label for="passwordField">{{ field.name | titlecase }}</label>
      </p-floatlabel>
      }

      <!-- Error Message -->
      <div class="min-h-[1.25rem] ml-0">
        @if(form.get(field.name)?.invalid && form.get(field.name)?.touched){
        <small class="p-error"> {{ getErrorMessage(field.name) }} </small>}
      </div>
    </div>
    }
  </div>

  <!-- Form Buttons -->
  @if(config().buttons && config().buttons.length > 0) {
  <div class="form-buttons">
    @for (button of config().buttons; track trackByCompositeKey($index, button)) {
    <p-button
      [type]="button.type || 'button'"
      [label]="button.label"
      [icon]="button.icon || ''"
      [disabled]="button.type === 'submit' && form.invalid"
    ></p-button>
    }
  </div>
  }
</form>
