@if (menuItem().children && (menuItem().children?.length ?? 0) > 0) {
<!-- Parent menu item with children -->
<a
  class="flex flex-col justify-center justify-items-center items-center gap-3 p-3 rounded-lg transition-colors cursor-pointer"
  (mouseenter)="showMenu($event, menuItem().children)"
  (mouseleave)="hideMenu()"
>
  <i
    [class]="menuItem().icon ?? 'pi pi-home'"
    class="text-lg block min-w-6"
  ></i>
  <span>{{ menuItem().label }}</span>
  <p-menu
    #menu
    [model]="childMenuItem()"
    [popup]="true"
  ></p-menu>
</a>
} @else {<!-- Single menu item -->
<a
  [routerLink]="menuItem().route"
  routerLinkActive="text-blue"
  [routerLinkActiveOptions]="{ exact: false }"
  class="flex items-center flex-col gap-3 p-3 rounded-lg transition-colors cursor-pointer"
  (click)="menuItem().click?.()"
>
  <i
    [class]="menuItem().icon ?? 'pi pi-home'"
    class="text-lg min-w-6"
  ></i>
  <span>{{ menuItem().label }}</span>
</a>
}
